@charset "UTF-8";
/*Обнуляющие стили*/
/*Очистим все отступы и границы*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  color: #ffffff;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 150%;
}

/*Убираем линии обводки некоторых браузеров*/
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/*задаем блочными теги Html5*/
nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*задаем наследование шрифтов*/
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: black;
  width: 100vw;
}

.active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hidden {
  display: none !important;
}

.noScroll {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.menu {
  display: none;
  height: 100vh;
  width: 100vw;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.menu-close {
  position: absolute;
  top: 5vh;
  right: 10vw;
  height: 20px;
  width: 16px;
  background: url(../img/close.svg) no-repeat center/contain;
}

.menu__item {
  margin-top: 10vh;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 5vh;
}

.menu__contacts {
  font-size: 14px;
  margin-top: 19vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__contacts--item {
  padding-top: 1vh;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  background: #000000;
  width: 100vw;
  padding: 15px 0;
  z-index: 10;
}

.header__container {
  font-size: 20px;
}

.header__nav--item {
  font-size: 16px;
}
.header__nav--item:not(:last-child) {
  margin-right: 62px;
}

.header__nav-link:hover {
  color: #D76238 !important;
}

.header__contacts--item {
  font-size: 16px;
  text-align: right;
}
.header__contacts--item:not(:last-child) {
  margin-right: 62px;
}

.header__contacts-link:hover {
  color: #D76238 !important;
}

.header__menu {
  display: none;
  height: 17px;
  width: 26px;
  background: url(../img/menu.svg) no-repeat center/contain;
}

.first-screen {
  background: #D76238;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 100vh;
}

.bg-img {
  position: absolute;
  right: 0;
  width: 45vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.first-screen__row {
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-screen__title {
  margin-top: 106px;
  border-top: 4px solid #000000;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 80px;
  font-weight: 900;
  font-size: 50px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
}

.first-screen__subtitle {
  margin-top: 64px;
  font-weight: 600;
  font-size: 27px;
  line-height: 150%;
  color: #000000;
}

.first-screen__btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
  background: transparent;
  border: 3px solid #000000;
  border-radius: 70px;
  padding: 28px 35px;
}
.first-screen__btn::after {
  margin-left: 18px;
  content: "";
  height: 15px;
  width: 34px;
  background: url(../img/first-arrow.svg);
}
.first-screen__btn:hover {
  background: #000;
  color: #fff;
}
.first-screen__btn:hover::after {
  margin-left: 18px;
  content: "";
  height: 15px;
  width: 34px;
  background: url(../img/first-arrow-hover.svg);
}

.title {
  display: block;
  padding-right: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
  font-size: 28px;
  text-transform: uppercase;
  background: #000000;
  padding-bottom: 10px;
  z-index: 10;
}

.title__underline {
  height: 2px;
  width: 100%;
  background: #fff;
  position: absolute;
  bottom: 27px;
  right: 0;
  z-index: -1;
}

.title__wrap {
  padding-top: 60px;
  position: relative;
}

.about__text-block--1 {
  margin-top: 40px;
}

.about__text-block--2 {
  margin-top: 15px;
}

.about__text {
  font-weight: 400;
  font-size: 18px;
}
.about__text:first-child {
  padding-right: 30px;
}
.about__text:last-child {
  padding-left: 30px;
}

.about__img {
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__img--1 {
  -o-object-fit: cover;
     object-fit: cover;
}

.about__img--2 {
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 16px;
}

.benefits__item {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.benefit__text {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
}

.teachers__wrap {
  margin-top: 40px;
}

.teacher__img-block {
  width: 100%;
  position: relative;
}

.teacher__img {
  width: 100%;
  height: auto;
}

.teacher__desc {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
}

.teacher__name {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}

.teacher__subject {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  opacity: 0.8;
}

.teacher__text {
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;
}

.courses {
  margin-top: 100px;
}

.course {
  padding-bottom: 120px;
  position: relative;
}

.swiper-slide--1 {
  background: url(../img/course-1.jpg) no-repeat center/cover;
}

.swiper-slide--2 {
  background: url(../img/course-2.jpg) no-repeat center/cover;
}

.swiper-slide--3 {
  background: url(../img/course-3.jpeg) no-repeat center/cover;
}

.swiper-slide--4 {
  background: url(../img/course-4.jpg) no-repeat center/cover;
}

.course__round {
  margin-top: 40px;
  -webkit-animation: 20s linear 0s normal none infinite running course__round;
          animation: 20s linear 0s normal none infinite running course__round;
}

@-webkit-keyframes course__round {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes course__round {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.course__title {
  margin-top: 130px;
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.course__desc {
  margin-top: 35px;
  font-weight: 400;
  font-size: 18px;
}

.course__slider-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 45px;
}

.slider__page {
  font-weight: 600;
  font-size: 28px;
  padding: 0 16px;
}

.slider__right-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.testimonials {
  margin-top: 100px;
}

.testimonial__quote {
  line-height: 165px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 200px;
}

.testimonial__text {
  font-weight: 400;
  font-size: 24px;
}

.testimonial__name-wrap {
  margin-top: 40px;
  padding-bottom: 50px;
}

.testimonial__name {
  padding-top: 10px;
  font-weight: 500;
  font-size: 20px;
}

.slick-dots li button:before {
  font-size: 12px;
  color: #fff;
}

.slick-dots li.slick-active button:before {
  font-size: 12px;
  color: #fff;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 150%;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.gallery {
  margin-top: 40px;
}

.gallery__img {
  -o-object-fit: cover;
     object-fit: cover;
}

.row--2 {
  margin-top: 30px;
}

.form-section {
  margin-top: 100px;
  position: relative;
  background: #fff;
}

.form__img {
  position: absolute;
  left: 0;
  top: -1px;
  width: 30vw;
  height: 101%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form__wrap {
  padding: 120px 0;
}

.form__title {
  padding-left: 0;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  color: #000000;
}

.form__input {
  width: 430px;
  display: block;
  position: relative;
  color: #000;
  font-weight: 500;
  font-size: 16px;
  margin-top: 60px;
  padding-bottom: 17px;
  border-bottom: 2px solid #000;
}
.form__input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 20px;
  color: rgba(43, 41, 41, 0.8);
}
.form__input::-moz-placeholder {
  font-weight: 500;
  font-size: 20px;
  color: rgba(43, 41, 41, 0.8);
}
.form__input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 20px;
  color: rgba(43, 41, 41, 0.8);
}
.form__input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 20px;
  color: rgba(43, 41, 41, 0.8);
}
.form__input::placeholder {
  font-weight: 500;
  font-size: 20px;
  color: rgba(43, 41, 41, 0.8);
}
.form__input:first-child, .form__input :nth-child(3) {
  margin-right: 30px;
}

.form__select {
  width: 890px;
  font-weight: 500;
  font-size: 20px;
  color: rgba(43, 41, 41, 0.8);
}

.form__btn {
  border: 2px solid #D76238;
  border-radius: 30px;
  padding: 15px 30px;
  margin-top: 90px;
  background: transparent;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.04em;
  color: #D76238;
}
.form__btn:hover {
  background: #D76238;
  color: #fff;
}

.footer {
  padding-top: 70px;
  padding-bottom: 50px;
}

.footer__list-header {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}

.footer__list-item {
  margin-bottom: 18px;
}

.footer__list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}

.hero-gallery .swiper-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  margin-top: -80px;
}

.hero-gallery {
  height: 820px;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
  z-index: 1;
  color: #fff;
}

.hero-gallery-img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: none;
}

.hero-gallery .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.hero-gallery .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  overflow: hidden;
}

.hero-gallery .swiper-pagination {
  margin: 0 26px;
  position: static;
  width: auto;
}

.hero-gallery-wrap {
  padding-top: 40px;
  width: 100%;
}

.hero-gallery .swiper-button-next,
.hero-gallery .swiper-button-prev {
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  position: relative;
  top: auto;
  right: auto;
  left: auto;
  background: none;
  margin-top: 0;
}

.hero-gallery .swiper-button-prev span {
  position: absolute;
  top: 50%;
  left: 5px;
  width: 30px;
  height: 2px;
  background: #fff;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.hero-gallery .swiper-button-prev span:after {
  width: 7px;
  height: 10px;
  position: absolute;
  top: 50%;
  right: -1px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.hero-gallery .swiper-button-prev:hover span {
  width: 40px;
}

.hero-gallery .swiper-button-next span {
  position: absolute;
  top: 50%;
  left: 5px;
  width: 30px;
  height: 2px;
  background: #fff;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.hero-gallery .swiper-button-next:hover span {
  width: 40px;
}

.hero-gallery .swiper-button-prev {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.slick-arrow {
  font-size: 0;
  width: 66px;
  height: 43px;
  position: absolute;
  bottom: 45px;
  background-color: transparent;
  border: none;
  z-index: 11;
  overflow: hidden;
  -webkit-transition: width ease-in-out 0.25s;
  transition: width ease-in-out 0.25s;
}

.slick-arrow:hover {
  cursor: pointer;
  width: 96px;
  -webkit-transition: width ease-in-out 0.25s;
  transition: width ease-in-out 0.25s;
}

.slick-arrow:focus {
  outline: none;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.hero-gallery .swiper-button-next span {
  position: absolute;
  top: 50%;
  left: 5px;
  width: 30px;
  height: 2px;
  background: #fff;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.hero-gallery .swiper-button-next span:after {
  width: 7px;
  height: 10px;
  position: absolute;
  top: 50%;
  right: -1px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url(../img/ico-arrow.png) no-repeat;
  content: "";
}

.hero-gallery .swiper-button-prev span:after {
  width: 7px;
  height: 10px;
  position: absolute;
  top: 50%;
  right: -1px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url(../img/ico-arrow.png) no-repeat;
  content: "";
}

.swiper-button-next::after, .swiper-button-prev::after {
  display: none;
}

.header--fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.modal__text {
  color: #000;
  font-size: 16px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

.modal-header {
  border-bottom: none;
}

.modal {
  top: 30vh;
}

@media (max-width: 1400px) {
  .form__input {
    width: 30%;
  }
  .form__input:first-child, .form__input :nth-child(3) {
    margin-right: 3%;
  }
  .form__select {
    width: 63%;
  }
  .hero-gallery .swiper-options {
    margin-top: -60px;
  }
}
@media (max-width: 1210px) {
  .header__nav--item, .header__contacts--item {
    font-size: 14px;
  }
  .bg-img {
    width: 47vw;
  }
  .first-screen__title {
    border-top: 3px solid #000000;
    padding-top: 60px;
    font-size: 36px;
  }
  .first-screen__subtitle {
    margin-top: 60px;
    font-size: 21px;
  }
  .first-screen__btn {
    margin-top: 60px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
    background: transparent;
    border: 3px solid #000000;
    border-radius: 70px;
    padding: 28px 35px;
  }
  .title__wrap {
    padding-top: 40px;
  }
  .title {
    font-size: 24px;
  }
  .title__underline {
    bottom: 18px;
  }
  .about__text {
    font-size: 16px;
  }
  .about__img {
    height: 340px;
  }
  .benefit__text {
    font-size: 16px;
  }
  .course__desc {
    font-size: 16px;
  }
  .testimonial__quote {
    line-height: 125px;
    font-size: 150px;
  }
  .testimonial__text {
    font-size: 18px;
    padding-left: 20px;
  }
  .form__btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .form__wrap {
    padding: 80px 0;
  }
}
@media (max-width: 992px) {
  .logo {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .header__nav {
    display: none !important;
  }
  .header__contacts {
    display: none !important;
  }
  .header__menu {
    display: block;
  }
  .first-screen__title {
    border-top: 2px solid #000000;
    padding-top: 40px;
    font-size: 28px;
  }
  .first-screen__subtitle {
    margin-top: 40px;
    font-size: 16px;
  }
  .first-screen__btn {
    margin-top: 40px;
    font-size: 14px;
    border: 2px solid #000000;
    border-radius: 70px;
    padding: 16px 18px;
  }
  .title {
    font-size: 20px;
  }
  .title__underline {
    height: 1px;
  }
  .about__text {
    font-size: 14px;
  }
  .about__img {
    height: 310px;
  }
  .benefit__text {
    font-size: 14px;
  }
  .benefits__item img {
    height: 70px;
    width: auto;
  }
  .hero-gallery {
    height: 600px;
    margin-bottom: 50px;
  }
  .courses {
    margin-top: 70px;
  }
  .course__title {
    margin-top: 60px;
    font-size: 28px;
  }
  .course__desc {
    font-size: 14px;
  }
  .teachers__title {
    padding: 0;
  }
  .teacher__text {
    margin-top: 30px;
    font-size: 14px;
  }
  .teacher__desc {
    padding: 10px;
  }
  .teacher__name {
    font-size: 14px;
  }
  .teacher__subject {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 12px;
  }
  .testimonial__text {
    font-size: 18px;
    padding-left: 40px;
  }
  .form__title {
    font-size: 24px;
  }
  .form__input {
    font-size: 14px;
    margin-top: 40px;
    padding-bottom: 10px;
    border-bottom: 1.5px solid #000;
  }
  .form__input::-webkit-input-placeholder {
    font-size: 14px;
  }
  .form__input::-moz-placeholder {
    font-size: 14px;
  }
  .form__input:-ms-input-placeholder {
    font-size: 14px;
  }
  .form__input::-ms-input-placeholder {
    font-size: 14px;
  }
  .form__input::placeholder {
    font-size: 14px;
  }
  .form__btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border: 1.5px solid #D76238;
    padding: 15px 30px;
    margin-top: 40px;
    background: transparent;
    font-size: 16px;
  }
  .footer__list-header {
    font-size: 14px;
  }
  .footer__list-link {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .logo img {
    width: 50px;
    height: auto;
  }
  .header {
    padding: 20px 0;
  }
  .bg-img {
    margin-top: 50px;
    position: static;
    width: 100vw;
    height: 50vh;
    min-height: 400px;
    z-index: 9;
  }
  .first-screen {
    background: #D76238;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
  }
  .first-screen__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .first-screen__row {
    height: 50vh;
  }
  .first-screen__title {
    margin-top: 10px;
    border-top: none;
    padding-top: 40px;
    font-size: 28px;
  }
  .about__text:first-child {
    padding-right: 0px;
  }
  .about__text:last-child {
    padding-left: 12px;
  }
  .about__img {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 12px;
  }
  .about__text-block--1 {
    margin-top: 20px;
  }
  .about__text-block--2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .teacher__text {
    margin-top: 20px;
    font-size: 12px;
  }
  .testimonial__quote {
    line-height: 92px;
    font-size: 100px;
  }
}
@media (max-width: 768px) {
  .bg-img {
    min-height: unset;
  }
  .first-screen__title {
    font-size: 20px;
    padding-top: 0px;
  }
  .first-screen__subtitle {
    margin-top: 20px;
    font-size: 14px;
  }
  .first-screen__row {
    height: 40vh;
  }
  .hero-gallery-wrap {
    width: 100vw;
  }
  .form__img {
    display: none;
  }
  .title {
    font-size: 16px;
  }
  .title__underline {
    bottom: 15px;
  }
  .about__text {
    font-size: 12px;
  }
  .course__title {
    margin-top: 60px;
    font-size: 16px;
  }
  .course__desc {
    font-size: 12px;
  }
  .slick-dots {
    width: 100%;
  }
  .testimonials {
    width: 100vw;
    overflow: hidden;
  }
  .testimonial__quote {
    line-height: 60px;
    font-size: 60px;
  }
  .testimonial__text {
    font-size: 16px;
    padding-left: 20px;
  }
  .testimonial__name {
    padding-top: 10px;
    font-size: 12px;
  }
  .form__wrap .row {
    max-width: 100vw;
    overflow: hidden;
  }
  .form__title {
    font-size: 16px;
  }
  .form__input {
    width: 40%;
  }
  .form__select {
    width: 85%;
  }
  .footer__logo img {
    width: 70px;
    height: auto;
  }
  .footer__list-header {
    font-size: 12px;
  }
  .footer__list-link {
    font-size: 10px;
  }
  .first-screen__btn {
    margin-top: 20px;
    font-size: 12px;
    border: 1px solid #000000;
    border-radius: 70px;
    padding: 10px 14px;
  }
}/*# sourceMappingURL=style.css.map */